%hr

.container#learn-more
  .row
    .col-sm-4.img-container.prop
      = image_tag("1_learn.png")
    .col-sm-8
      %h2 Learn
      %p
        The Peer-to-Peer group is by application
        %u only
        \.
      %p This keeps the group to serious practitioners committed to making progress on a week to week basis.
      %p Entrepreneurs from any level are welcome to join, from seed stage startups to enterprise intrapreneurs, but groups are kept segmented so that you'll get the most practical advice from members with relevant experience.
  .row
    .col-sm-4.img-container.prop
      = image_tag("2_meetups.png")
    .col-sm-8
      %h2 Meetups
      %p Joining a group is a commitment to make progress on your business each week.
      %p Each week you'll set learning goals and create a hypothesis to test. Your assumptions will be challenged by the other members of the group to keep you focused on the riskiest parts of your business.
      %p When you return the next week, your group will help you analyze your results and get to the root cause of any problems you encountered.
  .row
    .col-sm-4.img-container.prop
      = image_tag("3_pixie.jpg")
    .col-sm-8
      %h2 Hobnob
      %p Sometimes the books, blogs, and videos don't help you when it comes to applying theory to practice. Eventually, you'll hit a roadblock.
      %p Getting real help means talking to real people who have encountered similar problems and can help you think through how to apply the theory. Real learning from real practitioners.
