<div class="row team-member">

	<div class="col-sm-2">
		<%= image_tag("team_members/#{team_member[:name]}_#{team_member[:surname]}.jpg".downcase, class: "team-member-img", alt: "#{team_member[:name]} #{team_member[:surname]}") %>
	</div>

	<div class="col-sm-10">
		<h3 class="team-member-name"><%= "#{team_member[:name]} #{team_member[:surname]}" %></h2>
		<p class="bio"><%= team_member[:bio].html_safe %></p>
		<div class="links">
			<% team_member[:links].each do |link, url| %>
				<%= link_to image_tag("icons/icon_#{link}.png", alt: url), url, title: "#{link.capitalize} - #{team_member[:name]} #{team_member[:surname]}", target: "_blank" %>
			<%end%>
		</div>
	</div>

</div>