- provide(:title, "About")

#legal
  %h1{:class => "page-title"} About Lean Startup Circle
  %h3 What is Lean Startup Circle?
  %p Lean Startup Circle is a grassroots organization of Lean Startup practitioners all over the world. We come together to share tips, tricks, and stories about our successes and failures building companies.
  %p We are dedicated to applying lean startup thinking and building lean startup leadership.

  %h3 How did this all begin?
  %p In 2009, Rich Collins started Lean Startup Circle in San Francisco as a community to discuss Eric Ries' concept of the Lean Startup. The group met and hosted speakers discussing pragmatic implementation of difficult concepts like continuous deployment, validated learning and Minimum Viable Products.
  %p As more and more people started hearing about lean startup, more and more groups formed in cities around the world without any central coordination or process.
  %p Instead, we have grown by learning from one another. Organizers talking to organizers about the best way to organizer groups. Members talking to other members about how to overcome challenges in their business.
  %p We've grown together and hope you'll join us so we can learn from you as well.