- provide(:title, "About")

#legal
  %h1{:class => "page-title"} About
  %h3 The Lean Startup Circle
  %p Lean Startup Circle is dedicated to applying lean startup thinking and building lean startup leadership.
  %p We bring the San Francisco lean startup community together in a variety of formats (many of which involve beer) to learn from each other.
  %p What works? What doesn't? Is lean just a buzzword? Or can it really help build businesses?
  %h3 The Peer to Peer Circle
  %p At the Lean Startup Circle our members have enjoyed talks on a variety of topics for several years now, but we found ourselves being asked to go deeper so we started a series of workshops on Lean methodologies. The workshops were a success, but once again people wanted more: a space to have an ongoing discussion about best practices and how to apply them to their business, measure themselves against their peers and see how Lean was working for them.
  %p We realized that more workshops or more talks was not a solution, what was needed was to bring together entrepreneurs in focused groups and provide them with a framework that could maximize the learning from those exchanges.
  %p And so the P2PC was born.
