-# Hitting this page will remove the user from analytics. No logging!

- provide(:title, "No Analytics Cookie")
- session[:no_analytics] = true

%h1
  You've been cookied!
%h2
  You will no longer hit the internal logs and you won't see the GA or KM tracking code.