- provide(:title, "Posting Guidelines")

#guidelines
  .row
    .span12
      %h1
        Posting Guidelines
      %p.lead
        %span.text-error
          *
        This guide is meant to be
        = succeed '.' do
          %span.text-error continually improved
        Please provide feedback
        = link_to "here.", new_contact_message_path

      %p
        The discussion group is a place for members to
        %i provide value to each other.
        We love to learn from real life examples.
      %p
        Before you post, please ask yourself:
      %blockquote
        %p
          %i "What will the reader learn?"
      %p
        If there is nothing to learn, please do
        %u not
        post.

      %table.table.table-bordered
        %caption
          %h2
            The Rules
          %p.lead
            Job postings are an
            %span.text-error
              immediate ban,
            others violations are at the discretion of the moderator.
        %thead
          %tr
            %th.text-success
              Good
            %th.text-error
              Bad
            %th
              Rule
        %tbody
          %tr
            %td{ :style => 'background: #C8F0C8'}
              Will this MVP
              %b help me validate
              my
              %b hypothesis?
            %td{ :style => 'background: #FFD5D5'}
              %b Sign up
              for my MVP.
            %td{ :rowspan => "3" }
              %i
                No solicitations.
                %br
                Do not promote your blog, product, or survey.
          %tr
            %td{ :style => 'background: #C8F0C8'}
              Will this survey
              %b help me learn
              about my customers?
            %td{ :style => 'background: #FFD5D5'}
              Take
              %b my
              survey.
          %tr
            %td{ :style => 'background: #C8F0C8'}
              I read this lean startup book / blog and was confused.
              %br
              Can someone
              %b explain?
            %td{ :style => 'background: #FFD5D5'}
              Read
              %b my
              blog.
          %tr
            %td{ :style => 'background: #C8F0C8'}
              I have a question about
              %b lean startups...
            %td{ :style => 'background: #FFD5D5'}
              I have a legal question about
              %b random stuff...
            %td
              %i Do not ask general questions unrelated to lean startups.

          %tr
            %td{ :style => 'background: #C8F0C8'}
              I agree
              %b because...
            %td{ :style => 'background: #FFD5D5'}
              +1!
            %td
              %i Do not post one line messages with no content.
          %tr
            %td{ :style => 'background: #C8F0C8'}
              I respectfully disagree
              %b because...
            %td{ :style => 'background: #FFD5D5'}
              You suck.
            %td
              %i
                Do not take offense at honest feedback.
                Do not insult other members directly or indirectly,
                even if you feel justified.
              %div{ :style => 'margin-top:10px;'}
              If you have a problem, be a better person and resolve your issues
              %b offline.
          %tr
            %td{ :style => 'background: #C8F0C8'}
              There is a
              %b lean startup event
              going on that will be
              %b available for viewing online...
            %td{ :style => 'background: #FFD5D5'}
              %b
                Reminder,
              Come to
              %b
                my
              event.
            %td
              %i Do not post events unless they are directly related to Lean Startups and are available for viewing online. Only post once.
          %tr
            %td
            %td{ :style => 'background: #FFD5D5'}
              I am
              %b
                looking for
              a co-founder or consultant.
            %td{ :style => 'font-style: italic;' }
              Do not post jobs. This will result in an
              %span.text-error immediate ban.
              Post jobs on the
              = link_to 'Lean Startup Jobs Group', 'https://groups.google.com/group/lean-startup-jobs'

      %h2 Getting Feedback
      %p
        If you would like
        %i good
        feedback, please explain your thought process:
        %ul
          %li Hypothesis - What are you trying to learn?
          %li Metric - How will you measure your results?
          %li Experiment - What do you need to build in order to learn?

      %h2 Giving Feedback
      %p
        Questions are often great feedback. If the poster is being vague, ask them to clarify.
      %p
        Try to explain fully. Don't just point to a tool or other resource.
      %p
        Please be clear and patient. The group is world wide so English is not the first language of some members.

      %h2 Rejected?
      %p
        Moderators try and apply the
        = link_to 'moderation guidelines', moderation_guidelines_url
        intelligently.
      %ul
        %li
          Please be patient, is it 4 am in San Francisco?
          %div{ :style => 'margin-top:10px;'}
          Moderators need sleep as well. Maybe someone hasn't read it yet.
        %li If you still haven't seen your post or received a message from a moderator in 48 hours, please feel free to ask.
        %li
          If you received a rejection and disagree, please remember that as humans we have to make judgement calls on the value of a post.
          %div{ :style => 'margin-top:10px;'}
          Ask how to improve it so it brings value to the community!
          %div{ :style => 'margin-top:10px;'}
          Do
          %b not
          argue on the interpretation of the guidelines. Your legal skills will not avail you.