<%
	provide(:full_width, "true")
	provide(:title, "Home")
%>

<div class="jumbotron">
	<div class="container">
            <h1>Weekly roundtables of Lean Entrepreneurs</h1>
            <p>It's monday and you're at your desk. Who's going to answer your questions about Lean? How do you make sure you're on the right track? Founders are most likely to succeed when they have a support network, share experiences, and get challenged on our assumptions. That's why we created the Lean Startup Peer to Peer Circle.</p>
	  <% if current_peer %>
	  	<p><%= link_to "Complete your registration &raquo;".html_safe, registration_peer_path(current_peer), class: "btn btn-primary btn-lg" %></p>
	  <% else %>
	  	<p><%= link_to "Check out a group &raquo;".html_safe, new_peer_path, class: "btn btn-primary btn-lg" %></p>
	  <% end %>
	</div>
</div>

<div class="container">
	<div class="row">
	  <div class="col-sm-4">
	    <h2>Accountability</h2>
	    <p>Each week members get to pick a learning goal and make a commitment for the following session which they have to then present to the group about.</p>
	  </div>
	  <div class="col-sm-4">
	    <h2>Ongoing help</h2>
	    <p>Every week you have an opportunity to share your problems and questions with the group and seek for help and recommendations.</p>
	 	</div>
	  <div class="col-sm-4">
	    <h2>Tactics & Tools</h2>
	    <p>As you meet others that have likely gone through the same problems you're now experiencing you can pick up useful tactics and tools to solve specific problems.</p>
	  </div>
	</div>
</div>
