- provide(:full_width, "true")
- provide(:title, "Home")

.jumbotron
  .container
    %h1 Weekly roundtables of Lean Entrepreneurs
    %p In theory there is no difference between theory and practice; in practice there is. You can read books, blogs, watch videos, or you can join a weekly session where your ideas can be challenged by a group of your peers working on the same issues day in day out. You choose.
    .row
      .col-sm-12
        - if current_peer 
          = link_to "Complete your application &raquo;".html_safe, registration_peer_path(current_peer), class: "btn btn-primary btn-lg"
        - else
          = link_to "Request an invite &raquo;".html_safe, new_peer_path, class: "btn btn-primary btn-lg"
    .row
      .col-sm-12
        %small or
        = link_to "learn more", "#learn-more", class: "btn btn-default btn-md"

.container
  .row
    .col-sm-4
      %h2.feature-title Accountability
      %p Each week you will get to pick a learning goal and make a commitment for the following session that you have to update the group about.
    .col-sm-4
      %h2.feature-title Ongoing help
      %p Every week you have an opportunity to share the biggest problem in your business and get help with it.
    .col-sm-4
      %h2.feature-title Tactics & Tools
      %p Learn about specifc tools and tactics other members have used to solve problems you're now facing.

= render 'learn_more'
