- provide(:title, "Thanks")

#legal
  %h1{:class => "page-title"} Your invite has been requested
  %p Thank you for taking the time to fill out the P2PC application form. Your invite request has been submitted and a staff member will soon follow up either directly with an invite and more information about your first meeting or to schedule a quick call to discuss your application.
  %p If at any point your'd like to check on your application, request more information or simply talk to someone about the Lean Startup Peer to Peer Circle we are one email or phonecall away.
