%div
  %p
    %strong From:
    #{@message.name}, #{@message.email}

  %p
    %strong Message:
    %br
    #{@message.message}

  %br
  %hr

  %p Sent from #{link_to "Contact form", "http://leanstartupcircle.com/contact-us"}