%div
  %h1 Thank you for signing up to the Lean Startup Peer-to-Peer Circle!

  %p Hi #{@name},
  %p Thank you for taking the time to fill out the P2PC application form.
  %p The next step is that one of our members will contact_messages you with either an invite or request for more information if something in your application was unclear.
  %p If you'd like to talk to someone right away (or at any point), feel free to reach out to either spike@leanstartupcircle.com or tristan@leanstartupcircle.com
  %p
    Thanks for your patience,
    %br
    Tristan & Spike