- provide(:title, "Add a Lean Startup Meetup")

#new_group
  %h1 Add a Meetup Group
  %p.lead
    Got a group that meets in the real world to dig into Lean Startup principles?
    %i Add it to our list.

  = render 'form'