- provide(:title, "Good Reads")

#index_links
  .row
    .span12
      %h1
        Good Reads

      = link_to new_link_path do
        .btn.btn_warning
          Suggest a Good Read

      %table.table.table-condensed.table-striped.groups

        %tr
          %th

        - @links.each do |link|
          %tr
            %td
              = link_to link.title, link.url, target: "_blank"
              - if current_user.try(:is?, :admin)
                = link_to edit_admin_link_path(link) do
                  .glyphicon.glyphicon-pencil
                = link_to admin_link_path(link), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                  .glyphicon.glyphicon-remove
