- provide(:title, "Good Reads")

#index_links
  .row
    .span12
      %h1
        Good Reads for Week of
        = Date.today.beginning_of_week(:sunday) + 7
      = link_to new_link_path do
        .btn.btn-primary
          Suggest a Good Read

      %table.table.table-condensed.table-striped.groups
        %tr
          %th Vote!
          %th Link
          %th Why?
          - if current_user.try(:is?, :admin)
            %th User
            %th Total
            %th # of Voters
            %th
        = render partial: "links", object: @links