- provide(:title, @link.title)

#iframe_parent{ style: "-webkit-overflow-scrolling: touch !important; overflow-y: scroll !important; height: 95%; width: 100%;" }
  %iframe#link_preview{ src: "http://lsc-dzr.herokuapp.com/?proxy_url=" + @link.url, height: '95%', width: '100%', style: "border-width: 0" }