SMTP_ADDRESS: smtp.sendgrid.net
SMTP_PORT: 587
SMTP_DOMAIN: leanstartupcircle.com
SMTP_USERNAME: leanstartupcircle
SMTP_PASSWORD: hfik297h1ll1
SMTP_AUTHENTICATION: plain
SMTP_STARTTLS: true
RECAPTCHA_PUBLIC_KEY: 6Lcn4b8SAAAAAIKISIfuZp6Ba-t1N_ftCxfvycrO
RECAPTCHA_PRIVATE_KEY: 6Lcn4b8SAAAAAK4W41UE9HvWln2UlQBD-3pdJX74
SECRET_TOKEN: iygygf89g28793fv87b23fiub2f78932727237772387fg732g78fbuifbjkbsfjdkfyi7uzgvkxubhzry83gug8fg3v72vf2ib37fv8v23vf32uibfki7ytkzy2ivbkew4bgt78gwegfs624egfxzz643346346greqrgzvzxv423x
LINKEDIN_API_KEY: qafliif74cf9
LINKEDIN_SECRET_KEY: GfGNlcyzMKGfRFZd
MEETUP_API_KEY: 22667d40a3f3d1264393b2a1d173b28
MEETUP_CONSUMER_KEY: g8j22kfkjnv68mchdip2a1qlbv
MEETUP_SECRET_KEY: m9521rqgtoq8guoich43d3i62o
TWITTER_CONSUMER_KEY: vtD6uoY43t6Wrti62RykmQ
TWITTER_CONSUMER_SECRET: Z7GPNI4M9oDNJbekhEIFCo8Rv6sbh0GJKyeM77sFBM
DEVISE_PEPPER: kjhf98612hoif09bu31uh00789783bjvboiu6d122222222222222fukhyu4i638h0iy908hfbnqi3b879g78t9lkqwnky9289gg9ausgdfaaaass9889h2g8bf2e5gjk2gyu2g3809hg23uyr198bft81ty1jkfbiuatwybguiysgvcobqbgo2782367878g
GOOGLE_ANALYTICS_CODE: UA-30468280-6
INTERCEPT_EMAIL: accounts@tristankromer.com
HEAP_ANALYTICS_CODE: 3833543897
MAILCHIMP_LIST_ID: c907a4315e
MAILCHIMP_API_KEY: bd12584798bbf2f77ce48bb1d223e558-us6
RAILS_ENV: development
RACK_ENV: development

staging:
  GOOGLE_ANALYTICS_CODE: UA-30468280-5
  HEAP_ANALYTICS_CODE: 2480475976
  MEETUP_API_KEY: 353207d691726151d49566478733e
  MEETUP_CONSUMER_KEY: bpe2ef9t8pv44ke4qjcf4gbi55
  MEETUP_SECRET_KEY: iovop3113diocdnln7un419764
  RACK_ENV: staging
  RAILS_ENV: staging

production:
  GOOGLE_ANALYTICS_CODE: UA-30468280-1