- provide(:title, "Thanks")

#legal
  %h1{:class => "page-title"} You're signed up!
  %p Every week, you'll get a curated list of the best lean startup news, blogs, & events in your inbox. So make sure to add news@leanstartupcircle.com to your address book.
