- provide(:title, "Good Reads")

#index_posts
  .row
    .span12
      %h1
        Good Reads

      = link_to new_post_path do
        .btn.btn_warning
          Suggest a Good Read

      %table.table.table-condensed.table-striped.groups

        %tr
          %th

        - @posts.each do |post|
          %tr
            %td
              = link_to post.title, post.url, target: "_blank"
              = link_to edit_post_path(post) do
                .glyphicon.glyphicon-pencil
              = link_to post, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                .glyphicon.glyphicon-remove
