$navbarHeight: 100px;
$black: #000;
$linkColor: #000;
$primaryButtonBackground: $black;
$navbar-default-bg: #fff;

@import "bootstrap";

@mixin box_sizing {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* universal */

html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

img {
	max-width: 100%;
}

/* header */

.navbar {
	margin-bottom: 0;
	border: 0;

	.navbar-brand {
		height: $navbarHeight;
	}

	#navbar-logo {
		max-height: 100%;
	}

	ul.nav {
		margin-top: ($navbarHeight - 50px)/2;
	}

	button.navbar-toggle {
		margin-top: ($navbarHeight - 34px)/2;
	}

	@media (min-width: 768px) {
		ul.nav {
			float: right;
		}
	}
}

/* footer */

footer {
	text-align: right;
}

/* error explanation */

div#error_explanation {
	#error_message {
		display: block;
		margin-bottom: 0.5em;
	}

	ul {
		list-style-type: none;
		-webkit-padding-start: 0;
	}
}

/* forms */

.form-title {
	margin-bottom: 1em;
	@extend .center;
}

form {
	input, textarea, select, .uneditable-input {
	  @include box_sizing;
	}

	input:not([type='checkbox']), textarea, select, .uneditable-input {
	  @extend .form-control;
	}

	input {
	  height: auto !important;
	}

	textarea {
		height: 10em;
	} 
}

/* pages styling */

.page-title {
	margin-bottom: 1.5em;
	@extend .center;
}

/* team page */

.team-member {
	margin-bottom: 2em;

	.team-member-img {
		width: 100%;
	}

	.team-member-name {
		margin-top: 0;
	}

	.links img {
		width: 20px;
		height: 20px;
		padding: 2px 1px 0 0;
	}
}