$navbarHeight: 100px;
$black: #000;
$linkColor: #000;
$primaryButtonBackground: $black;
$navbar-default-bg: #fff;

@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

/* header */

.navbar {
	margin-bottom: 0;
	border: 0;

	.navbar-brand {
		height: $navbarHeight;
	}

	#navbar-logo {
		max-height: 100%;
	}

	ul.nav {
		margin-top: ($navbarHeight - 50px)/2;
	}

	button.navbar-toggle {
		margin-top: ($navbarHeight - 34px)/2;
	}

	@media (min-width: 768px) {
		ul.nav {
			float: right;
		}
	}
}

/* error explanation */

div#error_explanation {
	#error_message {
		display: block;
		margin-bottom: 0.5em;
	}

	ul {
		list-style-type: none;
		-webkit-padding-start: 0;
	}
}

/* footer */

footer {
	text-align: right;
}

/* forms */

.form-title {
	margin-bottom: 1em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  @include box_sizing;
  @extend .form-control;
}

input {
  height: auto !important;
}

textarea {
	height: 10em;
}