/* edit bootstrap variable */

$brand-primary: #1a95d3;
$navbarHeight: 100px;
$navbar-default-bg: #fff;
$link-color: #1a95d3;
$link-hover-color: #ff6e58;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: $link-hover-color;
$navbar-default-link-active-color: $link-hover-color;
$navbar-default-link-active-bg: transparent;
$font-size-large: 16px;
$border-radius-base: 2px;
$border-radius-small: 1.5px;
$border-radius-large: 3px;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500);
$font-family-sans-serif:  "Open Sans", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$headings-font-weight: 400;

@import "bootstrap";

/* mixins, variables, etc. */

$jumbotron-h1-font-size: $font-size-base * 2.625;

@mixin box_sizing {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body {
  color: #6a5e51;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

/* header */

.navbar {
  margin-bottom: 0;
  border: 0;

  .navbar-brand {
    height: $navbarHeight;
  }

  #navbar-logo {
    max-height: 100%;
  }

  ul.nav {
    margin-top: ($navbarHeight - 50px)/2;
  }

  button.navbar-toggle {
    margin-top: ($navbarHeight - 34px)/2;
  }

  @media (min-width: 768px) {
    ul.nav {
      float: right;
    }
  }
}

/* footer */

footer {
  text-align: right;

  #iubenda {
    float: left;
  }
}

/* error explanation and flash messages */

div#error_explanation {
  #error_message {
    display: block;
    margin-bottom: 0.5em;
  }

  ul {
    list-style-type: none;
    -webkit-padding-start: 0;
  }
}

.alert-recaptcha_error {
  display: none;
}

/* forms */

.form-title {
  margin-bottom: 1em;
  @extend .center;
}

form {
  input, textarea, select, .uneditable-input {
    @include box_sizing;
  }

  input:not([type='checkbox']):not([type='radio']), textarea, select, .uneditable-input {
    @extend .form-control;
  }

  input {
    height: auto !important;    
  }

  textarea {
    height: 10em;
  }

  label {
    font-weight: normal;
    @extend .control-label;
  }

  .well label {
    margin-bottom: 0;
  }

  label label, select  {
    text-transform: capitalize!important;
  }

  .field_with_errors {
    @extend .has-error;
  }
}

/* pages styling */

.page-title {
  margin-bottom: 1.5em;
  @extend .center;
}

.jumbotron {
  @extend .center;

  /*
  background: $gray-lighter url('jumbotron-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  */
  
  @media(max-width:767px){
    padding: $jumbotron-padding 0;
  }

  h1 {
    font-size: $jumbotron-h1-font-size;
    line-height: ceil($jumbotron-h1-font-size * 1.33333333333);
    font-weight: 300;
    -webkit-margin-before: 0;
  }

  p {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

h2.feature-title {
  font-size: 21px;
  @extend .center;
}

/* team page */

.team-member {
  padding-bottom: 3em;

  .team-member-img {
    width: 100%;
  }

  .team-member-name {
    margin-top: 0;
  }

  .links img {
    width: 20px;
    height: 20px;
    padding: 2px 1px 0 0;
  }
}

/* contact page */
#call-us {
  font-size: 18px;
  margin: 0 0 2em;
  line-height: $line-height-base;
}

/* buttons */

.btn {
  box-shadow: 0 4px 0 #5c6496;

  &, &:hover {
    border-color: transparent;
  }

  .btn-primary {
    text-shadow: 0 2px 0 #1a97d5;
  }
}